*{
    font-family: 'Bree Serif', serif;
}

.fondo{
    position: absolute;
    background: antiquewhite;
    background-size: cover;
    width: 100%;
    height: 90vh;
    border-top: 5vh solid rgb(36, 36, 36);
    border-bottom: 5vh solid rgb(36, 36, 36);
    z-index: -1;
    margin-top: -15%;
}

.formulario{
    margin: auto;
    margin-top: 15%;
    width: 25vw;
    height: 40vh;
    background-color: transparent;
    z-index: 7;
    border-radius: 8px;
    border: 3px solid rgb(16, 16, 16);
    box-shadow: inset 0px 0px 20px 2px rgba(27, 27, 27,0.75);
}

#titulo{
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 2.5em;
    color: c9c9c9;
    text-align: center;
}

.botonLogin{
    width: 30%;
    min-width: 100px;
    background-color: #C9C9C9;
    padding: 10px 10px;
    color: black;
    display: flex;
    transition: .2s ease-in-out;
    margin-top: 2vh;
    text-decoration: none; 
    border: 2px solid #000;
    transform: scale(1.05);
    cursor: pointer;
    margin-left: 9.2vw;
}

.botonLogin i {
    color: rgba(16, 16, 16,0.75);
    font-size: 20px;
    padding-right: 10px;
    transition: .3s ease-in-out; 
    margin-top: 0.3vh;
}

.botonLogin span {
    align-self: center;
    opacity: 1;
    transition: .2s ease-in-out; 
    
}

.botonLogin:hover {
    transform: scale(1.2);
    background: linear-gradient(to right, rgb(117, 253, 76) 0%, whitesmoke 100%); 
    
    }
    
.botonLogin:hover i {
    transform: translateX(4.8vw) scale(1.5);
    color: rgb(60, 255, 0); 
    }

.botonLogin:hover span {
    opacity: 0; 
}

.campos{
    width: 18vw;
    background: #FFF;
    outline: none;
    border: none;
    padding: 10px;
    margin-top: 1vh;
    border-radius: 6px;
    color: #000;
    font-style: 18px;
    margin-bottom: 1vh;
    border: none;
    border-bottom: 2px solid #222;
    margin-left: 3vw;
}

#botonMostrarForm{
    cursor: pointer;
}

.registro{
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    top: 70px;
    left: 50px;
    width: 7.5vw;
    transition: all 200ms;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(16, 16, 16);
    cursor: pointer;
}

.registro:hover{
    position: absolute;
    top: 70px;
    right: 50px;
    transition: 1s;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color:wheat;
    cursor: pointer;
    background-color: rgb(16, 16, 16);
}


.volver{
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    top: 70px;
    right: 50px;
    transition: all 200ms;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(16, 16, 16);
    cursor: pointer;
}

.volver:hover{
    position: absolute;
    top: 70px;
    right: 50px;
    transition: 1s;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color:wheat;
    cursor: pointer;
    background-color: rgb(16, 16, 16);
}

#text2{
    display: block;
    color: rgb(16, 16, 16);
    font-weight: 300;
    padding: 5px;
    text-align: center;
}