<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">

<div class="fondo"></div>
<div class="formulario">
    <a routerLink="/registro" routerLinkActive="active">
    <div class="registro">REGISTRO</div></a> 
    
    <h3 id="titulo"><u>LOG IN</u></h3>
    <div class="inputBox2">
        <span id="text2">Introduce tu Usuario y Contraseña.</span>
        <input type="text" name="usuario" class="campos" placeholder="Usuario" value="">
        <input type="text" name="Contraseña" class="campos" placeholder="Contraseña" value="">                       
        <button type="submit" class="botonLogin">
            <i class="fas fa-check"></i>
            <span>LOG IN</span>
        </button>                               
    </div>
    <a routerLink="" routerLinkActive="active">
    <div class="volver">VOLVER</div></a> 
</div>